*{
    margin: 0;
    padding: 0;
}
.container-fluid img{
    width: 35px;
    margin: 0;
    padding: 0;
}

.navbar{
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content:space-between;
}

.navbar-brand{
    place-items: left;
}